*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(73, 196, 196);
    font-size: large;
}
header{
    display: flex;
    justify-content: center;
    font-weight: 900;
    padding: 2vh;
    border-bottom: 0.1vh solid grey;
}
#startpage{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 10vh;
    padding: 20vh 0vh 0vh 0vh;
    align-content: center;
    backdrop-filter: blur(5px);
}
.info{
    margin-top: 2vh;
    text-align: center;
}
.box{
    height: 55vh;
    display: flex;
    justify-content: center;
    padding: 8vh 0vh 0vh 0vh;
}
.container{
    width: 40vh;
    height: 42vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 0vh;
}
.button{
    width: 13vh;
    height: 14vh;
    border: 0.2vh solid black;
    background-color: rgb(245, 197, 43);
    font-weight: bold;
    font-size: xx-large;
}
#btn1,#btn2,#btn3{
    border-top: none;
}
#btn1,#btn4,#btn7{
    border-left: none;
}
#btn7,#btn8,#btn9{
    border-bottom: none;
}
#btn3,#btn6,#btn9{
    border-right: none;
}
#morebtn{
    display: flex;
    justify-content: center;

}

.btn{
    width: 18vh;
    margin: 0vh 2vh;
    height: 8vh;
    background-color: rgb(4, 59, 25);
    color: white;
    border: none;
    border-radius: 2vh;
}

input,textarea{
    width: 30vh;
    height: 8vh;
    border-top: none;
    border-left: none;
    border-right: none;
    margin: 2vh;
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    border-color: black;
    background-color: inherit;
    text-transform: capitalize;
}

button:hover{
    cursor: pointer;
}

.diva{
    width: 50vh;
    height: 50vh;
    text-align: center;
}
#afterwin{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 20vh;
    padding: 15vh 0vh 0vh 0vh;
    align-content: center;
    backdrop-filter: blur(4px);

}
.divb{
    margin: 5vh;
    display: flex;
    height: 40vh;
    text-align: center;
}
#divc{
    width: 100%;
    text-align: center;
}